*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ADD8E6;
    font-family: 'Nerko One', cursive;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.mega-container{
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
}

/* header */
header{
    margin: 0 auto;
}
header h1{
    color: #fff;
    font-size: 70px;
    text-align: center;
}

/* main */

.card-container{
    margin: 0 auto;
}

.card{
    margin: 10px 5px;
    height: 150px;
    padding: 5px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    border-radius: 10px;
    width: calc(25% - 10px);
    float: left;
    box-shadow: 2px 3px rgba(0,0,0, 0.3);
   
}

.card .card-image{
    max-width: 100%;
    height: 80%;
    margin: 0 auto;
    visibility: hidden;

}



.card h2{
    text-align: center;
    visibility: hidden;
}

#special{
    background-image: unset;
    background-color: #fff;

}
#special .card-image{
    background-image: url(../img/noun_air_balloon_3134741.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    visibility: visible;
}
#special h2{
    visibility: visible;
    color: goldenrod;
}

.air-balloon h2{
    color: goldenrod;
}

.tractor h2{
    color: forestgreen;
}
.tram h2{
    color: dodgerblue;
}
.submarine h2{
    color: palevioletred;
}
.cruise-ship h2{
    color: gray;
}
.bicycle h2{
    color: darkred;
}



.card:active{
    background-image: unset;
    background-color: #fff;
}

.card.air-balloon:hover .card-image{
    background-image: url(../img/noun_air_balloon_3134741.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.card.bicycle:hover .card-image{
    background-image: url(../img/noun_Bicycle_3134821.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.card.cruise-ship:hover .card-image{
    background-image: url(../img/noun_Cruise_Ship_3134824.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.card.tractor:hover .card-image{
    background-image: url(../img/noun_Tractor_3134797.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.card.tram:hover .card-image{
    background-image: url(../img/noun_Tram_3134750.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.card.submarine:hover .card-image{
    background-image: url(../img/noun_Submarine_3134738.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card:active .card-image{
    visibility: visible;
}

.card:active h2{
    visibility: visible;
}

/* footer */

footer{
    margin: 20px auto;
    text-align: center;
}